[package]
name = "better_restic_client"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
log = "0.4"
flexi_logger = "0.25"
anyhow = "1.0"

